.sdg{
  color: #ED4334
}

.school-visit{
  color: #167ED8;
}

.geo-loc{
  color: #52606D;
}

.students-reached{
  color: #16A535;
}
.feed-author-name{
  color: #1D6F98;
}
.feed-date{
  color: #52606D;
}
